{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости (Всего: {{news|length}})</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|censor|truncatechars:20 }}</td>
               
               
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>!
   {% endif %}
{% endblock content %}